<div class="queue_headline">

    <a href="#" class="expand_queue" title="Show queue details">&dArr;</a>
    <a href="#" class="short_info workers_value" title="Number of workers">5</a>
    <a href="#" class="short_info mem_value" title="Memory">80%</a>
    <a href="#" class="short_info cpu_value" title="CPU">55%</a>

    <h3>[Name of Queue]</h3>

</div>

<div class="queue_details clearfix">

    <div class="queue_stats">
        <p>CPU <span class="cpu_value">25%</span></p>
        <p class="progress"><span class="cpu progress">&nbsp;</span></p>
        <p>Memory <span class="mem_value">55%</span></p>
        <p class="progress"><span class="memory progress">&nbsp;</span></p>s
        <p class="workers_stats"><span class="workers_value">5</span> workers <button class="add_worker">+ add worker</button></p>
    </div>
    
{# TODO: add graphic #}
    <div class="graph_holder">
        [HERE WILL BE A GRAPHIC]
    </div>

</div>

<div class="workers_list">

    <h4>Workers:</h4>

{#    TODO: create worker stub #}
    <ul>
        <li>[HERE WILL BE ONE WORKER]</li>
    </ul>
    
</div>



