
<div id="queues" class="block clearfix">

    <h2>Queues <a class="expand_all" href="#">expand all</a></h2>

    <ul id="queues_list">
        {% for node_name, item in params.gearmans.iteritems %}
            {% for queue_name, queue in item.stats.iteritems %}
                <li class="queue_item" id="qi_{{ node_name }}_{{ queue_name }}">
                    {% include 'dashboard/queue/queue.html' %}
                </li>
            {% endfor %}
            
        {% endfor %}

    </ul>

</div>
