<div class="worker_details clearfix" id="worker_{{ worker.id }}">

    <h5>{{ worker.name }} (ID {{ worker.id }})</h5>

    <div class="worker_stats">

        <p>CPU <span class="cpu_value">25%</span></p>
        <p class="progress"><span class="cpu progress">&nbsp;</span></p>

        <p>Memory <span class="mem_value">55%</span></p>
        <p class="progress"><span class="memory progress">&nbsp;</span></p>

        <p>Tasks: <span class="task_value">6</span></p>

        <p class="workers_actions">
            <button class="stop_worker">&nabla; stop</button><button class="restart_worker">&hearts; restart</button><button class="delete_worker">&times; delete</butt$
        </p>

    </div>

    <div class="graph_holder">
        [HERE will be another graphic for worker load]
    </div>

</div>
