{% extends "layout.html" %}

    {% block title %}Dashboard - Gearoscope{% endblock %}

    {% block css_addon %}{% endblock %}

    {% block js_header_addon %}{% endblock %}

    {% block header %}

        <a href="#" id="logo" class="ir">Gearoscope</a>

        {% include 'dashboard/partials/main_menu.html' %}

    {% endblock %}

    {% block content %}

        {% include 'dashboard/queue/queue_list.html' %}

        <aside class="clearfix">
            {% include 'dashboard/partials/main_log.html' %}
            {% include 'dashboard/partials/supervisords.html' %}
            {% include 'dashboard/partials/servers.html' %}
{#            {% include 'dashboard/partials/notifications.html' %}#}
        </aside>

    {% endblock %}

    {% block footer %}Copyright 2011. Alex Kachaev, Iurii Ogiienko{% endblock %}

    {% block js_addon %}
        <script src="/static/js/libs/jquery.flot.js"></script>
        <script src="/static/js/libs/jquery.tmpl.min.js"></script>
    {% endblock %}

