{% extends "layout.html" %}

    {% block title %}Dashboard - Gearoscope{% endblock %}

    {% block css_addon %}{% endblock %}

    {% block js_header_addon %}{% endblock %}

    {% block header %}

        {% include 'dashboard/partials/main_menu.html' %}

    {% endblock %}

    {% block content %}

        {% include 'dashboard/queue/queue_list.html' %}

        <aside class="clearfix">
            {% include 'dashboard/partials/main_log.html' %}
            {% include 'dashboard/partials/notifications.html' %}
        </aside>

    {% endblock %}

    {% block footer %}Copyright 2011. Alex Kachaev, Iurii Ogiienko{% endblock %}

    {% block js_addon %}

    {% endblock %}

