
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 ubuntu, tahome, sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
    // ========================================== \\
   ||               Your styles !                  ||
    \\ ========================================== //
*/


body{
    background-color: #333;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    height: 75px;
    border-bottom: 1px solid #010101;
}

#main {
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #010101;
    min-height: 500px;
    padding-left: 16px;
}

footer {
    border-top: 1px solid #2b2b2b;
    height: 70px;
    text-align: center;
    color: #e1e1e1;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
    font-size: 14px;
    line-height: 5;
}

/* MAIN MENU*/

#main_menu{
    float: right;
    border-right: 1px solid #010101;
    border-left: 1px solid #2b2b2b;
    margin: 0;
}

#main_menu li{
    width: 108px;
    border-left: 1px solid #010101;
    border-right: 1px solid #2b2b2b;
    font-weight: bold;
    line-height: 6.3;
    font-size: 12px;
    list-style: none;
    text-align: center;
    float: left;
    color: #f1f1f1;
    font-family: Ubuntu, Monaco, Calibri, Tahoma, Arial, sans-serif;
    vertical-align: middle;
}
#main_menu li a{
    text-decoration: none;
}

#main_menu li.selected{
    background-color: rgba(0,0,0, 0.25);
}

aside{
    width: 48%;
    float: right;
}

/* BLOCK STYLE*/

.block{
    padding-top: 10px;
    width: 48%;
}

.block a{
    text-decoration: none;
}

.block h2{
font-size: 24px;
line-height: 1.6;
    }

aside .block{
    width: 100%;
}

/*LOG BLOCK*/

.log_block ul{
    list-style: none inside none;
    margin: 0;
}

.log_block li{
    padding: 4px 10px;
    border-bottom: 1px solid #010101;
    border-top: 1px solid #2b2b2b;
    color: #81817f;
}

.log_block li:first-child{
    border-top: 0px;
}

.log_block li:nth-child(odd){
    background-color: rgba(0,0,0,0.30);
}

.log_block li:nth-child(even){
    background-color: rgba(0,0,0,0.15);
}

/* QUEUE list*/

#queues {
    float: left;
}

#queues .expand_all{
    float: right;
    border-radius: 12px;
    line-height: 2.4;
    font-size: 10px;
    background-color: rgba(0,0,0, 0.25);
    padding: 0 14px;
    cursor: pointer;
}

#queues_list{
    margin: 0;
}


/* SINGLE QUEUE ITEM*/

#queues_list a{
    text-decoration: none;
}

#queues_list .queue_item{
    list-style: none inside none;
    margin-bottom: 24px;
}

#queues_list .queue_item.collapsed{
    margin-bottom: 6px;
}

.queue_headline{
    font-size: 12px;
    color: #b8b8b8;
    line-height: 2;
    border-bottom: 1px solid #010101;
    padding-left: 12px;
    background-color: rgba(0,0,0, 0.25);
}
.queue_headline h3{
    font-size: 16px;
}

.queue_headline .short_info{
    float: right;
    margin: 0 10px;
}
.queue_headline .expand_queue{
    float: right;
    color: #969696;
    font-weight: bolder;
    margin: 0 10px;
    cursor: pointer;
}

.queue_headline .workers_value{
    color: #ffe825;
}

.queue_headline .mem_value{
    color: #1696ff;
}

.queue_headline .cpu_value{
    color: #0f0;
}

.queue_details{
    border-top: 1px solid #2b2b2b;
    background: rgba(0,0,0,0.15);
}

.queue_details .graph_holder{
    float: left;
    height: 134px;
    margin-left: 10px;
    max-width: 300px;
    background-color: #FF5E99;
}

.queue_details .queue_stats{
    padding-top: 6px;
}


.queue_details .queue_stats,
.worker_details .worker_stats{
    float: right;
    height: 134px;
    width: 190px;
    padding-right: 12px;
    color: #b8b8b8;
}

.queue_stats p,
.worker_stats p{
    margin-bottom: 1px;
}

.queue_stats .cpu_value,
.queue_stats .mem_value,
.worker_details .mem_value,
.worker_details .cpu_value{
    float: right;
    margin-right: 4px;
}






/*
    // ========================================== \\
   ||               End styles  !                  ||
    \\ ========================================== //
*/
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
