<div id="servers" class="block log_block clearfix">

    <h2>Servers</h2>
    
    <ul id="servers_list">
        <li>
            Some notification about some event on monitoring server
        </li>
        <li>
            Some notification about some event on monitoring server
        </li>
        <li>
            Some notification about some event on monitoring server
        </li>
        <li>
            Some notification about some event on monitoring server
        </li>
    </ul>
</div>
